# Node (Angular frontend)
frontend/node_modules
frontend/dist
frontend/.angular

# .NET (backend)
backend-api/bin/
backend-api/obj/
backend-api/appsettings.*.json

# Docker
**/*.log

# Visual Studio Code
.vscode/

# General
.DS_Store
Thumbs.db

# Env files
*.env
.env.*
